# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Environment
.env
.venv/
venv/
env/
ENV/
*.onnx
*.dll
*.lib


# OS files
.DS_Store
Thumbs.db

# Node (frontend)
node_modules/
build/

*.safetensors
*.csv
*.pt
